<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/c.css">
  </head>
  <title>Sign Up</title>
  <body>
    <h1>Sign Up</h1>
    <label>Username</label>
    <input type="text" placeholder="Create a Username">
    <label>Password</label>
    <input type="password" placeholder="Create a Strong Password">
    <label>Birth Date</label>
    <input type="date">
    <br>
    <label id="Language">Language</label>
    <select>
      <option id="option"> English</option>
      <option id="option"> Arabic</option>
      <option id="option"> Chinese</option>
    </select>
    <br>
    <button id="wer">Create Account</button>
    <a href="http://127.0.0.1:5000/login">Already have an account? Log in Here!</a>
    <br>
    <a href="http://127.0.0.1:5000/">Go back to Homepage</a>
  </body>
  <link rel="stylesheet" href="../static/pas.css">
</html>